<nav class="navbar">
  <div class="navbar-start">
    <button class="menu-button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    <a class="logo" href="/">
      <span>MyApp</span>
    </a>
  </div>
  <div class="navbar-end">
    
    <button class="btn btn-general-color-theme" (click)="navigateToSignIn()">
      <i class="fas fa-sign-in-alt"></i>
      Sign In
    </button>
    <button class="btn btn-general-color-theme" (click)="navigateToContact()">
      <i class="fas fa-envelope"></i>
      Contact
    </button>
    <button class="btn btn-register" (click)="navigateToRegister()">
      <i class="fas fa-user-plus"></i>
      Register
    </button>
    

    
  </div>
</nav> 